<h2>Rezeptliste</h2>

<div class="grid-container">
  @for (recipe of recipes$ | async; track recipe.id) {
    <div class="card">
      <div class="card-header flex-container">
        <img [src]="recipe.img" alt="Avatarbild für das Rezept" class="card-avatar-img">
        <h3>{{ recipe.name }}</h3>
      </div>
      <img src="{{ recipe.img }}" alt="{{ recipe.name }}">

      <div class="card-body">
        <p><strong>Schwierigkeit:</strong> {{ recipe.difficulty }}</p>
        <p><strong>Dauer:</strong> {{ recipe.duration.value }} {{ recipe.duration.unit }}</p>

        <a [routerLink]="['/recipes', recipe.id]">Details</a>
      </div>
    </div>

  }
</div>
